* {
  margin: 0;
  padding: 0;
}

html {
  background: #323D71;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 10px 3px;
  background: #ffffff;
  border-radius: 0.5rem;
  transition: all 1.5s;
  border: none;
}

input:hover {
  background: #4a5786;

}