* {
  margin: 0;
  padding: 0;
}

html {
  background: #1C1F29;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Formulario {
  display: flex;
  justify-content: space-between;
}

.Formulario input {
  padding: 10px 3px;
  background: #384265;
  border-radius: 2rem;
  transition: all 1.5s;
}

.Formulario input:hover {
  background: #4a5786;

}