#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  margin: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.title {
  font-family: "Jersey 15 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-text {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.typewriter h2, .typewriter pre {
  display: inline-block;
  overflow: hidden;
  width: 20;
  animation: typing 3s steps(40, end) forwards; /* Adjust the timing and steps as needed */
}

@keyframes blinkAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.title.blink {
  animation: blinkAnimation 1s steps(1, start) infinite;
}

